<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeSec.Runtime.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CodeSec.Runtime.Settings>
            <setting name="IgnoreAssemblies" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mscorlib</string>
                        <string>mscorlib.resources</string>
                        <string>vshost32</string>
                        <string>System</string>
                        <string>System.Core</string>
                        <string>System.Data</string>
                        <string>System.Net.Http</string>
                        <string>System.Drawing</string>
                        <string>System.Windows.Forms</string>
                        <string>System.Xml</string>
                        <string>System.Xml.Linq</string>
                        <string>System.Data.DataSetExtensions</string>
                        <string>Microsoft.CSharp</string>
                        <string>Microsoft.VisualStudio.Debugger.Runtime</string>
                        <string>Microsoft.VisualStudio.HostingProcess.Utilities</string>
                        <string>Microsoft.VisualStudio.HostingProcess.Utilities.Sync</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CodeSec.Runtime.Settings>
    </applicationSettings>
</configuration>